<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.layout.mylab6application" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MasterDetailFlow"
            android:label="@string/title_activity_master_detail_flow" >
        </activity>
        <activity
            android:name=".ViewPagerActivity"
            android:label="@string/title_activity_view_pager" >
        </activity>
        <activity
            android:name=".DetailMoviePagerActivity"
            android:label="@string/title_activity_detail_movie_pager"
            android:theme="@style/AppTheme2" >
        </activity>
        <activity
            android:name=".RecyclerActivity"
            android:label="@string/title_activity_recycler" >
        </activity>
    </application>

</manifest>
